.semi-circle {
  position: absolute;
  top: 0;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 800px;
  width: 900px;
  border-radius: 0 0 850px 850px;
  background-color: #7abd87;
  z-index: 1;
}
.semi-circle2 {
  position: absolute;
  top: 40%;
  left: 70%;
  transform: translate(-50%, -50%);
  height: 500px;
  width: 600px;
  border-radius: 550px 550px 0 0;
  border: 5px dashed #aae1b5;
  z-index: 1;
  overflow-x: hidden;
}
.App {
  background-color: white;
  color: black;
}
.animate {
  opacity: 0;
  transform: translate3d(-50px, 0, 0);
  cursor: pointer;
  transition: 0.25s all ease-in-out;
}

.animate.grow {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

.arc1 {
  /* make a semi circle arc */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #aae1b5;
  border-bottom: 5px solid #7abd87;
  border-right: 5px solid #7abd87;
  animation: spin 2s linear infinite;
  z-index: 2;
  clip: rect(0, 100px, 100px, 50px);
}
